.menu {
    margin: 0 auto;
    height: 70px;
    background-color: #545454;
    font-size: 1.2em;
    box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.39);
}

ul {
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #f3e305;
    transition: all 0.5s ease-out;
}

.activeLink {
    color:#f3e305;
    padding: 2px 12px 7px 12px;
    border-radius: 5px;
    border: 1px solid #f3e305;
    border-bottom: 3px solid #f3e305;
}